apiVersion: v1
kind: Pod
metadata:
  name: api
  labels:
    app: api
spec:
  containers:
    - name: api
      image: davidlevko2025/fast-api-server:0.0.1
      imagePullPolicy: Always
      ports:
      - containerPort: 8000
      env:
      - name: MONGO_HOST
        value: "mongodb-service"
      - name: MONGO_PORT
        value: "27017"
      - name: MONGO_DB
        value: "contactsdb"
    